@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
h1{
    display: flex;
    margin: auto;
    font-size: 2.5rem;
}
a {
  text-decoration: none;
  
}
  a.active {
    color: none;
  }
  li a {
    text-decoration: none !important;
    color: white;
  }
  .carrito-container{
    margin: 0;
    min-height: 100vh;
    background-color: #315253;
  }
  .pedidos-container{
    margin: 0;
    min-height: 100vh;
    background-color: #315253;
  }
  .index-container{
    margin: 0;
    min-height: 100vh;
    background-color: #315253;
  }
  .pendientes-container{
    margin: 0;
    margin-left: 300px;
    min-height: 100vh;
    background-color: #315253;
  }
  .checkout-container{
    display: flex;
    margin: 0;
    min-height: 100vh;
    margin-left: 300px;
    background-color: #315253;
    justify-content: center;
  }
  .whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde abajo según tus preferencias */
    right: 20px; /* Ajusta la distancia desde la derecha según tus preferencias */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .whatsapp-icon img {
    width: 50px; /* Ajusta el tamaño del icono según tus preferencias */
    height: auto; /* Para mantener la proporción original */
    cursor: pointer;
  }

  input:focus {
    outline: none;
  }
  textarea:focus {
    outline: none;
  }
  select:focus{
    outline: none;
  }
  .aviso-pago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 100px;
  }

  @media only screen and (max-width: 600px) {
    .index-container{
      margin-left: 0;
    }
    .checkout-container{
      margin-left: 0;
      background-color: #DAA666;
    }
    .checkout-screen{
      width: 90% !important;
    }
  }