.contenedor-primer{
    display: flex;
    
    width: 65%;
    background-color: rgba(164, 192, 125, 0.159);
    height: 60vh;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 0px 120px 0px 120px;
}
.textos-primer{
    width: 40%;
    margin: 5%;
}
.parrafo-primer{
    font-size: 1.2rem;
   
}
.imagen-primer{
    display: flex;
    border-radius: 0px 120px 0px 0px;
    margin: 10px 10px 10px auto;
    width: 50%;
}
