.contenedor-produccion{
    display: flex;
    width: 100%;
    margin: auto;
   
    background-color: rgba(164, 192, 125, 0.159);
}
.foto-produ{
    display: flex;
    width: 50%;
}
.textos-produ{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
}
.textos-produ h2{
    font-size: 2.5rem;
}
.textos-produ div{
    font-size: 1.2rem;
    margin-top: 20px;
}
.display-iconos{
    display: flex;
 
    
}
.iconos-lineas{
    display: flex;
    width: 13vw;
}