.card{
    display: flex;
    flex-direction: column;
    margin: 1vw 1vh;
    width: 15vw;
    border: 2px solid white;
    border-radius: 10px;
}
.card2{
    display: flex;
    background-color: white;
    align-items: flex-start;
   
    min-height: 170px ;
    justify-content: flex-start;
    margin: 5px;
    border-bottom: 2px solid black;
    
    
}
.card2 img{
    margin: 10px;
}
.card img{
    display: flex;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card button{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    background-color: #DAA666 !important;
    font-size: 1rem;
}
.card span{
    margin: 0;
}
.card h2{
    font-weight: lighter;
    font-size: 1.5rem;
    margin: auto;
   
}
.container-flex{
    display: flex;
}
.info-cards-landing{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 10px;
    margin: auto;
}
.info-cards-landing button{
    border-radius: 100% !important;
    margin: 5px;
}

.card button{
    height: auto;
    width: 80%;
    padding: 5px;
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
.card2 button{
    height: auto;
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    background-color: #315253;
    border: 3px solid #315253;
    color: white;
    
    cursor: pointer;
}
.contenedor-cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    width: 100%;
    margin: 0;
    
}
.botonera-cantidad{
    display: flex;
    justify-content: center;
    min-width: 15vw !important;
}
.botonera-cantidad button{
    width: 3vw ;
    margin: 10px ;
}
.botonera-cantidad div{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.agregar-button{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    width: 10vw ;
}
.circle-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    width: 80%;
  }
  
  .circle {
    width: 1.5vw; /* Ajusta el tamaño según tus preferencias */
    height: 1.5vw; /* Ajusta el tamaño según tus preferencias */
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }
  
  .blue {
    background-color: wheat;
  }
  
  .red {
    background-color: brown;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .orange {
    background-color: orange;
  }
@media only screen and (max-width:1260px){
    .contenedor-cards{
        display: grid;
        grid-template-columns: auto auto;
    }
    .card{
        width: 22vw; 
    }
}
 
@media only screen and (max-width:1024){
    .card2 {
        min-height: 250px ;
        width: 80% !important;
    }
}
  

@media only screen and (max-width:800px){
    .contenedor-cards{
        display: grid;
        grid-template-columns: auto auto;
    }
    .card{
        display: flex;
        flex-direction: column;
        margin: 1vw 1vh;
        width: 30vw;
        border: 2px solid white;
        border-radius: 10px;
    }
    .card button{
        width: 20vw;
    }
    .botonera-cantidad button{
        width: 25vw  ;
       }
       
   
}
@media only screen and (max-width: 600px) {
    .contenedor-cards{
        display: flex;
       flex-direction: column;
       margin-bottom: 40px;
    }
    .card{
        width: 80vw;
        margin-top: 30px;
    }
    .card2{
        width: 80vw;
    }
    /* .card2 img{
        
    } */
    .icono-borrar{
        display: flex !important;
    }
   .botonera-cantidad button{
    width: 15vw !important;
   }
   .agregar-button{
    width: 50vw !important;
   }
}
@media only screen and (max-width: 440px) {
    .card2 img{
        display: none;
    }
    .card2{
       
       padding: 5px;
    }
    
}