.navbar{
    display: flex;
    position: sticky;
    width: 80%;
    top: 0;
    height: 80px;
    z-index: 9999;
    margin: auto;
    color: white;
    
    justify-content: space-between; /* Agregar esta línea */
    align-items: center;

}
.navbar-mobile{
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 2;
    margin: auto;
    color: white;
    background-color: #DAA666;
    justify-content: space-between; /* Agregar esta línea */
    align-items: center;
}
.ul-navbar{
    display: flex;
    
   
}
.ul-navbar li{
    display: flex;
    margin-right: 1vw;
    font-size: 1.1rem;
    cursor: pointer;
    
}
    .icono-navbar{
        display: flex;
        height: 35px;

    }
.ul-navbar li:hover{
    font-weight: bold;
}
.navbar button{
    height: 5vh;
    width: 8vw;
    padding: 5px;
    border-radius: 50px;
    background-color: transparent;
    border:2px solid white;
    color: white;
 
    font-size: 1.1rem;
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .ul-navbar{
        display: none;
        margin-left: 30vw;
       
    }
}