.navbar{
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 9999;
    background-color: #315253;
    color: white;
    border-bottom: 2px solid white;

}
.ul-navbar{
    display: flex;
    margin-left: 30vw;
   
}
.ul-navbar li{
    display: flex;
    margin: auto 15px;
    font-size: 1.1rem;
    cursor: pointer;
    
}

.ul-navbar li:hover{
    font-weight: bold;
}

@media only screen and (max-width: 550px) {
    .ul-navbar{
        display: none;
        margin-left: 30vw;
       
    }
}