.grid-pedidos{
   display: flex;
   flex-direction: column;
   background-color: #315253;
   color: white;
   
}
.datos-pedido{
    display: flex;
    width: 80%;
}
.datos-pedido p{
    display: flex;
    width: 100%;
}
.datos-pedido select{
    width: 20vw;
    margin-left: 0 !important;
}
.pedido{
    border: 2px solid black;
}