.sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:white; /* Color de fondo de la barra lateral */
    color: #fff; /* Color de texto de la barra lateral */
  }
  
  .dashboard-content {
    margin-left: 300px; /* Ancho de la barra lateral */
    /* Espacio para evitar que el contenido se superponga con la barra lateral */
  }
  

  .ul-sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #315253 !important;
  }

  .ul-sidebar li{
    color: #315253 !important;
    font-size: 1.2rem;
    margin-top: 15px;
    text-decoration: none;
    list-style-type: none;
    

  }
  .link{
    color: white;
    font-weight: lighter;

  }
  .link2{
    color: #315253;
  }
  

  .boton-sidebar{
    display: flex;
    background-color:#DAA666 ;
    width: auto;
    color: white !important;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    border: 2px solid #315253;
    align-items: center;
    border-radius:50px;
    padding: 1vh 2vw;
    cursor: pointer;
    margin-top: 50px;
    font-weight: bold;
  }
  .boton-sidebar2{
    display: flex;
    background-color:white ;
    width: auto;
    color: #315253 !important;
    justify-content: flex-end;
    margin: auto;
    font-size: 1rem;
    border: 2px solid #315253;
    border-radius:50px;
    padding: 1vh 2vw;
    cursor: pointer;
    margin-top: 50px;
    font-weight:600;
  }
  .boton-sidebar3{
    display: flex;
    background-color:white ;
    width: 8vw !important;
    color: #315253 !important;
    justify-content: flex-end;
    margin: auto;
    font-size: 1rem;
    border: 2px solid #315253;
    border-radius:50px;
    padding: 1vh 2vw;
    cursor: pointer;
    margin-top: 50px;
    font-weight:600;
  }
  .link-sidebar{
    color: #315253;
  }
  .title-class {
    font-size: 15px !important;
  }
  .iconos-sidebar{
    display: flex;
    margin: auto;
    margin-top: 30px;
  }
  /* .swal2-popup {
    height: 165px; 
    overflow-y: hidden !important;
  }
   */
   .menu-mobile{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    
    background-color: #DAA666;
    flex-direction: column;
   
    width: 100% !important;
    z-index: 9999;
   }
   .iconos-mobile{
    display: flex;
    margin-top: 15px;
    align-items: center;
    align-content: center;
    justify-content: space-between !important;
   }
   .iconos-mobile img{
    margin-left: 20px;
    margin-right: 20px;
   }
   .menu-mobile-div{
    display: flex;
    font-size: 2rem;
    width: 90%;
    margin: 20px;
   }
   .menu-mobile-div span{
    margin-left: 10vw;
   }

   .pedido-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 8px;
    font-weight: bold;
  }
  
  .pedido-header span {
    width: 20%; /* Ajusta el ancho como desees */
    text-align: center; /* Alinea el contenido al centro */
    display: inline-block; /* Para que tengan el mismo ancho */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
   
    margin: 0;
    padding: 5px; /* Ajusta el padding según tus necesidades */
  }
  .pedido-data {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .pedido-data p {
    width: 20%; /* Ajusta el ancho como desees */
    text-align: center; /* Alinea el contenido al centro */
    display: inline-block; /* Para que tengan el mismo ancho */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
    
    margin: 0;
    padding: 5px; /* Ajusta el padding según tus necesidades */
  }
  .menu-mobile-div{
    font-size: 1rem;
  
    
  }
   @media only screen and (max-width:800px){
    .sidebar{
      width: 200px;
    }
    .ul-sidebar{
      padding-left: 20px;
    }
    .dashboard-content{
      margin-left: 200px;
    }
    .pedido-header{
      width: 90%;
      margin: auto;
    }
    .pedido-header, .pedido-data {
      font-size: 0.8rem;
    }
   }
   @media only screen and (max-width: 600px) {
    .sidebar{
      display: none;
    }
    .dashboard-content{
      margin-left: 0;
    }
   }

   @media only screen and (max-width:400px) {
    .pedido-header {
      width: 95%;
      border-radius: 10px;
    
      margin: auto;
      font-size: 0.7rem;
    }
    .pedido-data p{
      font-size: 0.7rem;
    }
   }