

.ul-pedidos{
   display: flex;
   flex-direction: column;
   background-color: white;
   width: 80%;
   margin-left: 100px;
   padding: 20px !important;
   border-radius: 10px;
   
}
.ul-pedidos h3{
    font-weight: lighter;
}
.ul-pedidos li{
    display: flex;
    width: 100%;
}
.ul-pedidos li div{
   font-weight: bold;
   font-size: 0.9rem
}

.pedidosScreen{
    margin-left: 20px;
}
.ul-pedidos li img{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: auto;
    margin-left: 10%;
}

.ul-pedidos li span{
   font-size: 0.9rem;
   font-weight: 500 !important;
}
.ul-pedidos li p{
    margin-top: auto;
    margin-left: 20px;
    font-weight: bold;
 }


.detallesPedidos{
    display: flex;
}
.detallesPedidos h3,p{
    margin-right: 20px;
    
}
.detallesPedidos span{
    font-weight: bold;
}
.box-perdidos{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    width: 20vw !important;
  
}
.box-perdidos *{
    padding: 5px;
}
.box-perdidos button{
    display: flex;
    background-color: white;
    width: 40%;
    color: #315253;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    border: 2px solid #315253;
    align-items: center;
    border-radius:50px;
    padding: 1vh 1vw;
    cursor: pointer;
 
    font-weight: bold;
}
.detalles-pedidos{
    background-color: #DAA666;
}
.cantidaded-carrito{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    height: 70%;
    align-items: center ;
    margin: auto;
    margin-bottom: 0px;
}
.cantidaded-carrito p{
    margin-top: 0 !important;
    height: auto !important;
}
.cantidaded-carrito span{
    display: flex;
    padding: 5px;
  
    
    font-weight: bold;
}
.info-carrito{
    display: flex;
    width: 40vw;
}
.info-carrito div{
    margin: 20px;
}


@media only screen and (max-width: 550px) {
    .ul-pedidos{
        display: grid;
        grid-template-columns: auto ;
        padding: 0;
        width: 90%;
        margin: auto !important;
        justify-content: center;
    }
    .box-perdidos{
        margin: auto;
        width: 80vw !important;
        margin-top: 10px;
    }
    .pedidosScreen{
        margin-left: 0px;
    }
    .pedidosScreen h2{
        justify-content: center;
        color: white;
    }
}