

.ul-pedidos{
   display: flex;
   flex-direction: column;
   background-color: white;
   width: 80%;
   margin-left: 100px;
  
   padding: 20px !important;
   border-radius: 10px;
   
}
.ul-pedidos h3{
    font-weight: lighter;
}
.ul-pedidos li{
    display: flex;
    width: 100%;
}
.ul-pedidos li div{
   font-weight: bold;
   font-size: 0.9rem
}

.pedidosScreen{
    margin-left: 20px;
}
.ul-pedidos li img{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: auto;
    margin-left: 10%;
}

.ul-pedidos li span{
   font-size: 0.9rem;
   font-weight: 500 !important;
}
.ul-pedidos li p{
    margin-top: auto;
    margin-left: 20px;
    font-weight: bold;
 }


.detallesPedidos{
    display: flex;
}
.detallesPedidos h3,p{
    margin-right: 20px;
    
}
.detallesPedidos span{
    font-weight: bold;
}
.box-perdidos{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    width: 20vw !important;
  
}
.box-perdidos *{
    padding: 5px;
}
.box-perdidos button{
    display: flex;
    background-color: white;
    width: 40%;
    color: #315253;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 1rem;
    border: 2px solid #315253;
    align-items: center;
    border-radius:50px;
    padding: 1vh 1vw;
    cursor: pointer;
 
    font-weight: bold;
}
.detalles-pedidos{
    background-color: #DAA666;
}

.cantidaded-carrito{
    display: flex;
  
    justify-content: center;
    border-radius: 10px;
    height: 20%;
    align-items: center ;
    margin: auto;
    margin-bottom: 30px;

}
.cantidaded-carrito span{
    border: 2px solid black;
    border-radius: 15px;
    justify-content: center;
    width: 70px;
}
.cantidaded-carrito p{
    margin: auto;
    height: auto !important;
}
.cantidaded-carrito span{
    display: flex;
    padding: 5px;
  
    
    font-weight: bold;
}
.info-carrito{
    display: flex;
    width: 30vw;
}
.info-carrito div{
    margin: 20px;
}
.detalles-pedido{
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    width: 80%;
    margin-left: 100px;
}
.detalles-pedido h3{
    color: #DAA666;
}
.detalles-pedido h4{
    color: #315253;
}
.detalles-pedido p{
    font-size: 0.9rem;
}
.producto-detalle-pedido{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.producto-detalle-pedido  span{
    font-size: 0.8rem;
}
.solo-mobile{display: none;}
@media only screen and (max-width: 1024px) {
    .cantidaded-carrito{
     
        margin-left: 20%;
    }
    .li-prueba-carrito{
        display: flex;
        flex-direction: column;
    }
    .cantidaded-carrito *{
        margin: 5px;
        padding: 5px;
        justify-content: center;
    }
    .cantidaded-carrito span{
        width: 100px;
        padding: 5px;
       
    }
    .solo-mobile{
        flex-direction: column;
        justify-content: center;
        margin-left: 15%  ;
    }
    .ul-pedidos{
        
        margin-left: 20px;
    }
    .info-carrito div{
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .ul-pedidos{
        display: grid;
        grid-template-columns: auto ;
        padding: 0 !important;
        width: 95%;
        margin: auto !important;
        justify-content: center;
        align-content: center;
    }
    .solo-mobile{
        margin-left: 40%;
        margin-bottom: 10px;
    }
    .box-perdidos{
        margin: auto;
        width: 80vw !important;
        margin-top: 10px;
    }
    .pedidosScreen{
        margin-left: 0px;
    }
    .pedidosScreen h2{
        justify-content: center;
        color: white;
    }
}